/* Global */
$enable-responsive-font-sizes: true;
$brand-color: #ffd60a;
$color-one: #fff;
$color-two: #000;
*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 10px auto;
  padding: 0 20px;
  text-align: center;
}


.splash {
  height: 100vh;
  position: relative;
  background-image: url(https://i.postimg.cc/ZRjC56cY/splash-background.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

nav {
  padding-top: 20px;
}

.splash p {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: $brand-color;
  margin: 0;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
}

ul li a {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-decoration: none;
}

.splash a {
  color: $color-one;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-one;
  text-align: center; // Center text inside .intro
}


.intro h3 {
  font-family: 'Playfair Display', serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
}

.intro h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 80px;
  font-weight: 700;
  width: 100%;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 16px;
  border-radius: 5px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: $brand-color;
  background-position: 100% 0;
  background-size: 300%;
}